/* @tzfw.css   ||   同舟服务   ||   2016-10-1 */






#banner {
    width: 100%;

    a {
        display: block;
        width: 100%;

        img {
        	width: 100%;
        }
    }

}


.content {
	padding: 30px 0;
	overflow: hidden;
	.w {
		padding: 12px;
		color: #000;
		background: #fff;
	}

	.cont-hd {
		h1 {
			font-size: 20px;
			font-weight: 500;
			color: rgb(38, 38, 39);
			font: 800 20px/29px 微软雅黑;
		}
	}
	.cont-bd {
		min-height: 200px;
		padding-top: 20px;
		p {
			padding-left: 24px;
			padding-bottom: 20px;
			color: #000;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: .5px;
		}
	}
}






